section: "{{ 'rh' if use_rh_registry | default(False) else 'registry' }}"
registry:
  hostname: "{{ 'registry.redhat.io' if use_rh_registry | default(False) else lookup('ini', 'hostname', section=section, file=credentials) }}"
  username: "{{ lookup('ini', 'username', section=section, file=credentials) }}"
  password: "{{ lookup('ini', 'password', section=section, file=credentials) }}"
  insecure: "{{ False if use_rh_registry | default(False) else lookup('ini', 'insecure', section=section, file=credentials) }}"
rhui_manager: podman exec -it rhui5-rhua rhui-manager --noninteractive
