registry:
  hostname: "{{ lookup('ini', 'hostname section=registry file=' + credentials) }}"
  username: "{{ lookup('ini', 'username section=registry file=' + credentials) }}"
  password: "{{ lookup('ini', 'password section=registry file=' + credentials) }}"
  insecure: "{{ lookup('ini', 'insecure section=registry file=' + credentials) }}"
rhui_manager: podman exec -it rhui5-rhua rhui-manager --noninteractive
